# project prefix/tag for all object names
projectPrefix = "cis-demo-"
# service account credentials
serviceAccountFile = "/mygcpcreds.json"
# gcp project id
gcpProjectId = "my-project-id"
# gcp region where you want the objects
gcpRegion = "us-east1"
# zone where you want the objects
gcpZone = "us-east1-b"
# admin source address https://www.ipchicken.com/ with cidr mask ip/32
adminSrcAddr = "myexternalip/32"
# admin account name
adminAccount = "admin"
# admin password 
adminPass = "admin"
# ssh public key for instance access
gceSshPubKeyFile = "/id_rsa.pub"
# custom image if needed
customImage = "projects/my-project-id/global/images/f5-bigip-15-1-0-0-0-31-byol-all-1slot-fxaschncp"
# license key when using a custom image or byol
bigipLicense1 = "my-key-value-text-string"
# number of BIG-IP instances default is 1 max is 2 currently
instanceCount = 1